body {
  background: linear-gradient(#F1C40F, #800000);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  height: 1000px;
}

.page-wrapper {
  overflow: clip;
}

.buton {
  background-color: lightgreen;
  padding: 5px 1px 5px 1px;
  border: 3px solid lightgreen;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px lightgreen, 0 0 15px lightgreen, 0 0 25px lightgreen, 0 0 100px lightgreen;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 200px;
  font-weight: 600;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  height: 50px;
}

.buton:hover:before,
button:focus:before {
  transition: 0.5 all ease;
  left: 0;
  right: 0;
  opacity: 1;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes animate {
  to {
    transform: translateX(25%);
  }
}

.buton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-radius: 6px;
  opacity: 0;
  content: '';
  background-color: #000000c7;
  z-index: -1;
  content: "";
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 25% 100%;
  animation: animate .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.buton:active {
  transform: scale(0.9);
}

.buton:hover,
.buton:focus {
  color: white;
}

button {
  border-radius: 20px 20px 20px 20px;
}

h5 {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.12);
  }
}

.center {
  background-size: cover;
  background-clip: text;
  background: linear-gradient(90deg, #00ffff, #ff00c3);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 50px;
  margin-top: 1px;
  border-radius: 30px;
  text-align: center;
}

.link {
  padding: 5px 1px 5px 1px;
  margin-bottom: 75px;
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  width: 240px;
  margin-right: 50px;
}

.link:hover:before,
button:focus:before {
  transition: 0.5 all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.link:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-radius: 6px;
  opacity: 0;
  content: '';
  background-color: #000000c7;
  z-index: -1;
}

.link:active {
  transform: scale(0.9);
}


#youtube {
  border: 3px solid #ff0000;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 25px #ff0000, 0 0 100px #ff0000;
}

#youtube:hover,
#youtube:focus {
  color: white;
}

#youtube::before {
  background-color: #ff0000;
}

#discord {
  border: 3px solid #0004ff;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #0004ff, 0 0 15px #0004ff, 0 0 25px #0004ff, 0 0 100px #0004ff;
}

#discord:hover,
#discord:focus {
  color: white;
}

#discord::before {
  background-color: #0004ff;
}

#twitter {
  border: 3px solid #00ccff;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #00ccff, 0 0 15px #00ccff, 0 0 25px #00ccff, 0 0 100px #00ccff;
}

#twitter:hover,
#twitter:focus {
  color: white;
}

#twitter::before {
  background-color: #00ccff;
}

#reddit {
  border: 3px solid #ff9900;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ff9900, 0 0 15px #ff9900, 0 0 25px #ff9900, 0 0 100px #ff9900;
}

#reddit:hover,
#reddit:focus {
  color: white;
}

#reddit::before {
  background-color: #ff9900;
}

#github {
  border: 3px solid #260044;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #260044, 0 0 15px #260044, 0 0 25px #260044, 0 0 100px #260044;
}

#github:hover,
#github:focus {
  color: white;
}

#github::before {
  background-color: #260044;
}

#twitch {
  border: 3px solid #a441f7;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #a441f7, 0 0 15px #a441f7, 0 0 25px #a441f7, 0 0 100px #a441f7;
}

#twitch:hover,
#twitch:focus {
  color: white;
}

#twitch::before {
  background-color: #a441f7;
}

#insta {
  border: 3px solid #fd0088;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #fe007a, 0 0 15px #ff1132, 0 0 25px #ffc200, 0 0 100px #a702f2;
}

#insta:hover,
#insta:focus {
  color: white;
}

#insta::before {
  background-color: #fd0088;
}

#guns {
  border: 3px solid #70457b;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #70457b, 0 0 15px #70457b, 0 0 25px #70457b, 0 0 100px #70457b;
}

#guns:hover,
#guns:focus {
  color: white;
}

#guns::before {
  background-color: #70457b;
}

#steam {
  border: 3px solid #1b5585;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #1b5585, 0 0 15px #1b5585, 0 0 25px #1b5585, 0 0 100px #1b5585;
}

#steam:hover,
#steam:focus {
  color: white;
}

#steam::before {
  background-color: #1b5585;
}

#roblox {
  border: 3px solid #a6b3bf;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #a6b3bf, 0 0 15px #a6b3bf, 0 0 25px #a6b3bf, 0 0 100px #a6b3bf;
}

#roblox:hover,
#roblox:focus {
  color: white;
}

#roblox::before {
  background-color: #a6b3bf;
}

#snap {
  border: 3px solid #ccc900;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #ccc900, 0 0 15px #ccc900, 0 0 25px #ccc900, 0 0 100px #ccc900;
}

#snap:hover,
#snap:focus {
  color: white;
}

#snap::before {
  background-color: #ccc900;
}

#namemc {
  border: 3px solid #000000;
  margin-bottom: 75px;
  margin-top: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 25px #000000, 0 0 100px #000000;
}

#namemc:hover,
#namemc:focus {
  color: white;
}

#namemc::before {
  background-color: #000000;
}

.scanner span {
  color: transparent;
  font-size: 5rem;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.scanner span::before {
  content: "Bienvenue";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #17feff;
  overflow: hidden;
  color: #17feff;
  animation: load91371 2s linear infinite;
}

.scanner2 span {
  color: transparent;
  font-size: 5rem;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.scanner2 span::before {
  content: "MrParpotte";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #17feff;
  overflow: hidden;
  color: #17feff;
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {

  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #17feff;
  }

  60%,
  80% {
    width: 100%;
  }
}

.un {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.deux {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.trois {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 200px;
  height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  display: flex;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg,
      #880088,
      #aa2068,
      #cc3f47,
      #de6f3d,
      #f09f33,
      #de6f3d,
      #cc3f47,
      #aa2068,
      #880088) no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}

.button:hover svg {
  fill: #fff;
}

.button svg {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}

/* From Uiverse.io by SelfMadeSystem */
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked~label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

.rating {
  color: #00ffff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Sapin
   HTML

     <div class="container">
      <div class="tree">
        <div class="branch" style="--x:0">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="branch" style="--x:1">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="branch" style="--x:2">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="branch" style="--x:3">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="stem">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <span class="shadow"></span>
      </div>
    </div>

   CSS

   .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25%;
  margin-top: 65px;
}

.tree {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: treeAnimate 5s linear infinite;
}

@keyframes treeAnimate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}

.tree div {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateY(calc(25px * var(--x))) translateZ(0px);
}

.tree div.branch span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #69c069, #77dd77);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(28.5px);
}

.tree div.stem span {
  position: absolute;
  top: 110px;
  left: calc(50% - 7.5px);
  width: 15px;
  height: 50%;
  background: linear-gradient(90deg, #bb4622, #df7214);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) translateZ(7.5px);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-65px);
}
*/

/* From Uiverse.io by jeremyssocial */
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {

  0%,
  10% {
    width: 0;
  }

  45%,
  55% {
    width: 6em;
  }

  /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid green;
  /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}

/* Rubik's Cube */
.my-loader {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto;
}

.rubiks-cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: my-rotateCube 5s infinite linear;
}

.my-loader .face {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.my-loader .face.front {
  transform: translateZ(100px);
}

.my-loader .face.back {
  transform: rotateY(180deg) translateZ(100px);
}

.my-loader .face.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.my-loader .face.right {
  transform: rotateY(90deg) translateZ(100px);
}

.my-loader .face.top {
  transform: rotateX(90deg) translateZ(100px);
}

.my-loader .face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.my-loader .cube {
  width: calc(100% / 3);
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 1px solid #000;
}

@keyframes my-rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin-left: 50px;
  margin-right: auto;
  margin-top: -450px;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn2:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn2:hover {
  transform: scale(1.1);
}

.btn2:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn2:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin-left: 50px;
  margin-right: auto;
  margin-top: -952px;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn3:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn3:hover {
  transform: scale(1.1);
}

.btn3:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn3:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}